{%extends 'main.html' %}

{%  block content %}



{%  if page == 'login' %}

<div>
    <form> method= "POST" action="">
        {%  csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="enter Username"  />

        <label>password:</label>
        <input type="password" name="password" placeholder="enter Username"  />


        <input type="submit" value="login" />
        

    </form> 
    <p> havent signed up yet</p>
    <a href="{%url 'register'}"></a>> sign up</a>
</div>

{%  else %}

<div></div>
    <form> method= "POST" action="">
        {%  csrf_token %}
      {{form.as_p}}
        <input type="submit" value="register" />
        

    </form> 
    
    <p> already signed up </p>
    <a href="{%url 'login'}"></a>> login</a>
</div>

{%  endiif %}


{% endblock content %}